.section-carousel-one {
  background-color: #222;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.carousel-one {
  width: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.carousel-one-images img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
  transition: opacity 0.3s ease;
}
.carousel-one-images img.inactive {
  display: none;
}
.carousel-one-images img.active {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.carousel-one-controls button {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  font-size: 22px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 16px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left-btn {
  left: 0;
}
.right-btn {
  right: 0;
}

.carousel-one-controls button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.carousel-one-indicator {
  display: flex;
  align-self: center;
  gap: 10px;
  margin: 16px 0;
  position: absolute;
  bottom: 0;
}
.dot {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.dot.active {
  background-color: rgba(255, 255, 255, 1);
}
